body {
    /*background: rgb(240, 240, 240, 1);
    background: linear-gradient(to bottom, rgb(240, 240, 100), rgb(177, 79, 79));*/
    background: radial-gradient(yellow, orange, red);
}

#title {
    color: rgb(222, 64, 16);
}

.subtitle {
    color: rgb(227, 225, 224);
    /*background: linear-gradient(to right, rgb(177, 79, 79), rgb(240, 240, 100));*/
}

#service-image{
    height: 400px;
    width: 70%;

    background: url("img/sunset02.jpeg");
    background-size: cover;
    background-color: steelblue;
}







/*.title {
    color: orange;
}

h2:hover {
    color: red;
}

.subtitle {
    color: brown;
}

#services {
    color: green;
}

#contact-us{
    color: green;
}

/*li:only-child {
    color: purple;
}*/
/*
td:only-child {
    color: purple;
}*/

/*#google-link:link {
    color: blue;
}

#google-link:visited {
    color:red; 
}*/

/*h2 + a {
    color: red;
}

ul > li {
    color: peru;
}

ul li{
    color: purple;
}

img[src*="img/"] {
    border: 10px solid black;
}

h2[class~=article-subtitle]{
    background: peru;
}*/